
body{
    font-family: poppins;
}
textarea{
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.submeter{
    border-radius: 8px;
    font-family: poppins;
    border:none;
    position: absolute;
}
.submeter:hover{
    color:#900C3F;
    border: 1px solid #900C3F;
}
.pergunta{
    bottom:50%;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin:0;
    color:black;
}
.subtitulo,.pergunta,.emoji,.comentario,.botaosubmeter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji{
    font-size: 2em ;
    display: flex;
}
.emoji > div:not(:first-child){
    margin-left: 1rem;
}

.emoji > div{
    cursor: pointer;
    transition: transform .2s ease-in ;
}
.emoji>div:hover{
    transform: scale(1.4);
}
