
body{
    font-family: poppins;
}
textarea{
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #900C3F;
    padding: 30px;
    margin:0;
    color: #ffffff;
}
.subtitulo,.pergunta,.emoji,.comentario,.botaosubmeter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji{
    font-size: 2em ;
    display: flex;
}
.emoji > div:not(:first-child){
    margin-left: 1rem;
}

.emoji > div{
    cursor: pointer;
    transition: transform .2s ease-in ;
}
.emoji>div:hover{
    transform: scale(1.4);
}
